/* globals */
:root {
  --blue: #1e90ff;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

abbr {
  text-decoration: none;
}
/* end globals */

/* header */
.header {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 0 50px;
  position: relative;
}

/* logo */
.header h1 {
  color: black;
  position: absolute;
  left: 0;
  margin: 0 0 0 50px;
  top: 0;
}

.header h1 a {
  color: black;
  text-decoration: none;
}

.header h1 a img {
  font-size: 18px;
  margin-top: 25px;
  text-transform: uppercase;
}
/* end logo */

/* header content container */
.header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 1250px;
}

/* nav  (games button container)*/
.header nav {
  width: 75px;
}

/* dropdown menu */
.dropdown {}

.header nav .dropdown-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 25px 10px;
}

.header nav .dropdown-btn:hover {
  border-bottom: 4px solid orange;
  padding-bottom: 21px;
}

.dropdown-content {
  background: #444;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* consider removing */
  color: white;
  display: none;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.dropdown-header {
  background: #222;
  font-weight: bold;
  padding: 25px 0;
  width: 100%;
  text-transform: uppercase;
}

.dropdown-header div {
  margin: 0 auto;
  max-width: 1250px;
}

.dropdown-header div span {
  margin: 0 100px 0 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-row {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 1250px;
}

.dropdown-col {
  margin: 25px 50px 25px 0;
  width: 150px;
}

.dropdown-col button {
  background: none;
  border: none;
  color: white;
  display: block;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  text-align: left;
  width: 100%;
}

.dropdown-col button:hover {
  background: #666;
}

/* end dropdown menu */
/* end nav */

/* search box */
.header form {
  position: relative;
  width: 1000px;
}

.header form input {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  line-height: 20px;
  margin: 15px 0 0 0;
  width: 100%;
  padding: 10px 20px;
}

.header form input:focus {
  background: white;
  border: 1px solid gray;
}

.header form button {
  background: #444;
  border: 0;
  border-left: 2px solid #ccc;
  border-radius: 0 25px 25px 0;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 14px;
  height: 42px;
  margin: 15px 0 0 0;
  padding: 10px 40px;
  position: absolute;
  right: 0;
  top: 0;
}
/* end search box */

/* login */
.header .login {
  width: 75px;
}

.header .login button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 25px 10px;
}

.header .login button:hover {
  border-bottom: 4px solid orange;
  padding-bottom: 21px;
}
/* end login */
/* end header content container */
/* end header */





.landing {
  width: 1250px;
  height: 500px;
  margin: 50px auto;
}


.games {
  display: block;
  padding: 10px;
  text-decoration: none;
  width: 300px;
}

.games img {
  border: 1px solid #444;
  width: 280px;
}

.games .heading {
  color: #444;
  display: flex;
  justify-content: space-between;
}

.games .heading h2 {
  font-size: 18px;
  text-transform: uppercase;
}

.games .heading span {
  font-weight: bold;
}



.games p {
  color: #444;
}

.games .meta {
  color: #666;
  display: flex;
  justify-content: space-between;
  margin: 5px 0 0 0;
}

.games .meta div {
  font-size: 14px;
  font-weight: bold;
}


.games .genre {
  display: flex;
  margin: 5px 0 0 0;
}

.games .genre a {
  color: orange;
  font-size: 14px;
  margin-right: 10px;
  text-decoration: none;
}

.games .genre a:hover {
  color: #ff6c00;
}