/* globals */
:root {
  --dark-gray: #222;
  --light-gray: #444;
  --main-color: teal;
}

* {
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #f5f5f5;
}

abbr {
  text-decoration: none;
}
/* end globals */


/* header */
.header {
  background: white;
  border-bottom: 1px solid #ccc;
  padding: 0 20px 0 120px;
  position: relative;
  width: 100%;
}

/* logo */
.header h1 {
  position: absolute;
  left: 0;
  margin: 0 0 0 50px;
  top: 0;
}

.header h1 a {
  color: var(--dark-gray);
  text-decoration: none;
}

.header h1 a img {
  font-size: 18px;
  margin-top: 25px;
  text-transform: uppercase;
}
/* end logo */

/* header content container */
.header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1370px;
}

/* games button container */
.header nav .dropdown-container {
  width: 103px;
}

.fa-bars {
  display: none;
}

/* dropdown menu */
.dropdown {}

.dropdown-btn {
  background: none;
  border: none;
  color: var(--dark-gray);
  cursor: pointer;
  display: flex;
  flex-basis: auto;
  font-size: 18px;
  font-weight: bold;
  padding: 25px 10px;
}

.header nav .dropdown-btn svg {
  margin-left: 10px;
}

.header nav .dropdown-btn:hover {
  border-bottom: 4px solid var(--main-color);
  padding-bottom: 21px;
}

.dropdown-content {
  background: var(--light-gray);
  border-bottom: 8px solid var(--main-color);
  color: white;
  display: none;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.dropdown-header {
  background: var(--dark-gray);
  font-weight: bold;
  padding: 25px 0;
  width: 100%;
  text-transform: uppercase;
}

.dropdown-header div {
  margin: 0 auto;
  max-width: 1250px;
}

.dropdown-header div span {
  margin: 0 100px 0 10px;
}

.dropdown-row {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 1250px;
}

.dropdown-col {
  margin: 25px 50px 25px 0;
  width: 150px;
}

.dropdown-header div span:last-child {
  margin-left: 100px;
}

.dropdown-col:nth-of-type(4) {
  margin-left: 50px;
}

.dropdown-col button {
  background: none;
  border: none;
  color: white;
  display: block;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  text-align: left;
  width: 100%;
}

.dropdown-col button:hover {
  background: #666;
}

.vertical-rule {
  border-right: 2px solid #777;
  height: 300px;
  margin-top: 50px;
}
.filters {
  margin-left: 50px;
}
/* end dropdown menu */
/* end nav */


/* search box */
.header form {
  display: flex;
  position: relative;
  width: 1000px;
}

.header form input {
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-right: 0;
  border-radius: 25px 0 0 25px;
  font-size: 16px;
  height: 40px;
  line-height: 20px;
  margin: 15px 0 0 0;
  width: 100%;
  padding: 10px 20px;
}


.header form input:hover,
.header form input:hover + button {
  background: #eee;
}

.header form input:focus {
  background: white;
  border: 1px solid var(--main-color);
  border-right: 0;
}

.header form input:focus + button {
  background: white;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  border-left: 0;
}

.header form button {
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-left: 0;
  border-radius: 0 25px 25px 0;
  color: #999;
  cursor: pointer;
  display: block;
  font-size: 20px;
  height: 40px;
  margin: 15px 0 0 0;
  padding: 10px 30px;
}

.header form button:hover {
  color: var(--light-gray)
}
/* end search box */

/* login */
.header .login {
  display: flex;
  width: 110px;
}

.header .login button {
  color: var(--dark-gray);
  background: none;
  border: 0;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  padding: 16px 10px 14px 10px;
}

.header .login button:hover {
  color: var(--main-color);
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--main-color) transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* end login */
/* end header content container */
/* end header */

.checkbox {
  cursor: pointer;
  margin: 15px 0;
}

.checkbox span:first-child {
  background: gray;
  border: 1px solid var(--dark-gray);
  display: inline-block;
  height: 12px;
  margin-right: 10px;
  width: 12px;
}



#clear {
  background: none;
  border: 0;
  color: white;
  cursor: pointer;
  display: none;
}
























.modal {
  background: rgba(0, 0, 0, 0.6);
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 9;
}

.modal > div {
  background: white;
  border-radius: 2px;
  left: 50%;
  padding: 20px 40px 60px 40px;
  position: absolute;
  top: 30%;
  transform: translateX(-40%);
}

.close-btn {
  background: none;
  border: 0;
  color: var(--dark-gray);
  cursor: pointer;
  float: right;
  font-size: 25px;
}

.close-btn:hover {
  color: var(--light-gray);
}

.login-form {
  clear: both;
  position: relative;
  width: 400px;
}

.login-form h2 {
  color: var(--main-color);
  margin: 0 0 20px 0;
  text-align: center;
}

.login-form .fa-envelope {
  color: var(--main-color);
  font-size: 22px;
  left: 10px;
  position: absolute;
  top: 60px;
}

.login-form .fa-lock {
  color: var(--main-color);
  font-size: 22px;
  left: 10px;
  position: absolute;
  top: 130px;
}

.login-form input {
  font-size: 16px;
  padding: 0 0 0 40px;
}

.login-form input,
.login-form button {
  height: 50px;
  margin-bottom: 20px;
  width: 400px;
}

.login-form input[type=checkbox] {
  background: teal;
  height: initial;
  width: initial;
}



.login-form button {
  background: var(--main-color);
  border: 0;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.login-form button:hover {
  background: var(--light-gray);
}


.login-form-footer {
  display: flex;
  justify-content: space-between;
}

.login-form-link {
  background: none;
  border: 0;
  border-radius: 2px;
  color: var(--main-color);
  cursor: pointer;
  font-size: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  width: 90px;
}

.login-form-link:nth-of-type(2) {
  width: 129px;
}

.login-form-link:hover {
  text-decoration: underline;
}

.login-form > span {
  color: var(--dark-gray);
}

.login-form > div a {
  color: var(--main-color);
  text-decoration: none;
}

.login-form > div a:hover {
  text-decoration: underline;
}


@media screen and (max-width: 1382px) {
  
}


@media screen and (max-width: 480px) {
  .header > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 1250px;
  }

  header form {
    width: 100%;
  }
}