:root {
  --blue: #1e90ff;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.sidebar {
  background: #333;
  height: 100%;
  position: fixed;
  width: 250px;
}

.sidebar:hover {
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}
.sidebar::-webkit-scrollbar-track {
  background: #333;        /* color of the tracking area */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #666;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

.sidebar header {
  padding: 10px 30px;
}

.sidebar header h1 a {
  color: white;
  font-size: 19px;
  text-decoration: none;
}

.sidebar form {
  margin: 30px;
}

.sidebar form input {
  width: 180px;
}

.sidebar > nav {
  margin: 40px 0;
}

.sidebar > nav div {
  border-top: 1px solid #444;
  padding: 20px 0;
}

.sidebar > nav p {
  color: #999;
  font-size: 16px;
  padding: 7px 30px;
  text-transform: uppercase;
}

.sidebar > nav a {
  color: #ccc;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  padding: 7px 30px;
  text-decoration: none;
}

.sidebar > nav a:hover {
  background: #444;
}

.sidebar footer {
  border-top: 1px solid #444;
  margin: 150px  0 0 0; /* fix this */
  padding: 15px 30px;
}

.sidebar footer nav a {
  color: #999;
  font-size: 12px;
  text-decoration: none;
}

.sidebar footer nav a:hover {
  color: #ccc;
}

.sidebar footer p {
  color: #666;
  font-size: 12px;
  margin-top: 20px;
  text-decoration: none;
}

.profile, .login {
  float: right;
  margin: 25px 30px 25px 0;
}

.profile a, login a {
  color: #444; 
}

.games-container {
  clear: both;
  height: 100%;
  max-width: 100%;
  margin: 0  50px 0 300px;
}

.games-container .games {
  background: #ccc;
  display: block;
  height: 500px;
  max-width: 100%;
  margin-bottom: 50px;
}